.imageContainer {
	position: relative;
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}

.recipeImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.instructions ol {
	list-style-type: decimal;
	padding-left: 20px;
}

.instructions li::marker {
	font-size: 1.2em;

	font-family: magic;
	font-weight: bold;
}

.ingredients {
	list-style-type: disc;
	padding-left: 20px;
}

.ingredients li::marker {
	font-size: 1.2em;
	font-family: magic;
	font-weight: bold;
}

.centerMainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vw 5vw;
}

.ingredientsContainer,
.instructionsContainer {
	/* padding-left: 2rem; */
	padding-top: 2rem;
}
