.imageContainer {
	position: relative;
	/* width: 50vw; */
	height: 0;
	padding-top: 100%;
	overflow: hidden;
}

.recipeImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.instructions ol {
	list-style-type: decimal; /* Gör en ordnad lista (nummer) */
	padding-left: 20px; /* Skapa vänstermarginal */
}

/* För en punktlista */
.instructions ul {
	list-style-type: disc; /* Standardpunkter */
	padding-left: 20px;
}

.centerMainContainer {
	display: flex;
	flex-direction: column;
	justify-content: center; /* För att centrera på y-axeln */
	align-items: center;
}
