/* .header {
	top: 0;
	height: 150px;
	width: 100vw;
	min-width: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	font-size: 47px;
	color: rgb(225, 233, 220);
	position: fixed;
	transition: '0.5s ease-in-out';
} */

.navbarWrapper {
	width: 100%;
	max-width: 1440px;
	height: fit-content;
	padding: 2vw 5vw;
	justify-content: center;
}

.header {
	top: 0; /* Startposition */
	height: 150px;
	width: 100%;
	min-width: 340px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	font-size: 57px;
	/* color: rgb(225, 233, 220); */
	color: rgb(234, 214, 220);
	position: fixed;
	transition: top 0.5s ease-in-out;
}

.hidden {
	top: -150px; /* Skjuter upp navbaren utanför viewport */
}

.transparentWindow {
	animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
	from {
		background: rgba(240, 248, 255, 0);
		backdrop-filter: blur(0px);
	}
	to {
		background: rgba(240, 248, 255, 0.204);
		backdrop-filter: blur(10px);
	}
}
